@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto&family=Ubuntu:wght@300;700&display=swap");
@import "./header.css";
@import "./controls.css";
@import "./features-card.css";

:root {
  /* Backgrounds */
  --background-primary: rgb(40, 42, 54);
  --background-secondary: rgb(50, 52, 68);
  --background-secondary-alt: rgb(60, 62, 78);
  --background-tertiary: rgb(70, 72, 88);
  --background-floating: rgb(60, 62, 78);
  --background-modifier-selected: rgba(90, 92, 108, 0.35);
  --background-accent: rgb(70, 72, 88);
  --deprecated-card-bg: var(--background-secondary);

  /* Gradients */
  --linearGradient-background-floating: linear-gradient(
    var(--background-floating),
    var(--background-secondary) 80%
  );

  /* Scrollbars */
  --scrollbar-auto-thumb: rgb(60, 62, 78);
  --scrollbar-auto-track: rgb(50, 52, 68);

  /* Text Colors */
  --text-muted: rgb(110, 112, 128);
  --text-normal: rgb(220, 222, 232);
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--background-primary);
  color: var(--text-normal);
  margin: 0px;
  display: grid;
  gap: 1.5rem;
}

body::-webkit-scrollbar {
  background-color: var(--scrollbar-auto-track);
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-auto-thumb);
  min-height: 40px;
}

body::-webkit-scrollbar-corner {
  background-color: var(--background-secondary);
}

body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-track {
  border: 3px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--text-normal);
  text-decoration: none;
  font-family: Inter;
}

/* Main feature card */
.main-container-bg {
  background: var(--linearGradient-background-floating);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  background-color: var(--background-secondary);
  box-shadow: 0px -1px 1px rgba(4, 6, 8, 0.2);
}

.footer i {
  font-family: Inter;
  font-style: italic;
  font-size: 0.8rem;
  align-self: flex-start;
  color: var(--text-muted);
}

.footer h1 {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 0.8rem;
}
