@use "./theme-main.css";
@use "./server-list.css";
@use "./user-profile.css";
@use "./context-menus.css";
@use "./dialogs.css";
@use "./bottomBar-layout.css";
@use "./topBar-layout.css";
@use "./popups.css";
@use "./settings.css";

// Variables for Color Scheme, Gradients and Spaces::: root,
:root,
.theme-light {
  /* Backgrounds */
  --background-primary: rgb(40, 42, 54);
  --background-secondary: rgb(50, 52, 68);
  --background-secondary-alt: rgb(60, 62, 78);
  --background-tertiary: rgb(70, 72, 88);
  --background-floating: rgb(60, 62, 78);
  --background-modifier-selected: rgba(90, 92, 108, 0.35);
  --background-accent: rgb(70, 72, 88);
  --deprecated-card-bg: var(--background-secondary);

  /* Powercord Color Scheme */
  --toast-header: rgb(60, 62, 78) !important;
  --toast-background: rgb(60, 62, 78) !important;

  /* Gradients */
  --linearGradient-background-floating: linear-gradient(
    var(--background-floating),
    var(--background-secondary) 80%
  );

  --linearGradient-background-semilight-floating: linear-gradient(
    rgb(90, 92, 108),
    var(--background-secondary) 80%
  );

  /* Shadows */
  --boxShadow-elevation-high: 0px 0px 8px rgba(0, 2, 12, 0.5);

  /* Scrollbars */
  --scrollbar-auto-thumb: rgb(60, 62, 78);
  --scrollbar-auto-track: rgb(50, 52, 68);

  /* Spaces */
  --space-Med: 0.5rem;

  /* TopBarLayout */
  --topBarLayout-height: 2.5rem;

  /* BottomBarLayout */
  --bottomBarLayout-height: 3rem;

  /* Colors */
  --text-muted: rgb(110, 112, 128);
  --text-normal: rgb(220, 222, 232);

  /* Brand Experiment? */
  --brand-experiment-560: rgb(80, 82, 98);
}
