/* *
 * @name TaiyouUI Discord Theme
 * @author Aragubas#3594
 * @authorId 678368118371778570
 * @version AutoUpdating
 * @description TaiyouUI Look for Discord
 * @source https://github.com/aragubas/Aragubas-DiscordTheme
 */

/* 
  ########
  Small Fixes
  ########
*/

/* Small gradient thing in channel name on the top bar */
.children-3xh0VB::after {
  display: none;
}

/* Server Discovery Pane */
.theme-dark .pageWrapper-2PwDoS {
  background: var(--background-primary);
}

/* Change color of friends tab*/
.container-2cd8Mz {
  background-color: var(--background-primary) !important;
}
