/**
 * @name TaiyouUI Discord Theme
 * @author Aragubas#3594
 * @authorId 678368118371778570
 * @version AutoUpdating
 * @description TaiyouUI Look for Discord
 * @source https://github.com/Aragubas/TaiyouUI-Discord
*/

:root {
  /* Background */
  --background-primary: rgb(40, 42, 52);
  --background-secondary: rgb(50, 52, 62);
  --background-secondary-alt: rgb(54, 58, 68);
  --background-tertiary: rgb(58, 62, 72);

  /* Scrollbars */
  --scrollbar-auto-thumb: rgb(60, 62, 74);
  --scrollbar-auto-track: rgb(50, 50, 60);
}

.container-2cd8Mz {
  background-color: var(--background-primary) !important;
}

.wrapper-1_HaEi.guilds-2JjMmN {
  transition: width, opacity, box-shadow;
  transition-duration: 0.25s;
  transition-delay: 0.4s;
  position: absolute;
  left: 0;
  width: calc(72px / 7);
  height: calc(100%);
  opacity: 0.3;
  z-index: 3;
}

.wrapper-1_HaEi.guilds-2JjMmN:hover {
  transition-delay: 0.03s;
  width: 72px;
  opacity: 1;
  box-shadow: 0px 0px 4px black;
}
